NEXT_DEPLOYMENT_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_PERSONAL_EMAIL="email@youremail.pro"
NEXT_DEPLOYMENT_UMAMI_SCRIPT_URL="https://yourdomain.com/script.js"
NEXT_DEPLOYMENT_UMAMI_WEBSITE_ID="your-umami-website-id"